mixin compositeScore(score, mainScoreName, compositeName, payload)
    if score.isVisible
        - var divName = 'score__'.concat(score.name)
        if (score.isMain || score.isParentMain)
            - var compName = score.name
        else
            - var compName = compositeName.concat(' - ', score.name)
        
        if score.hasLeaf
            if score.hasDoc
                .col-12.composite.canSelect(name=divName)= compName
            else
                .col-12.composite(name=divName)= compName
        each child in score.childs
            if (child.type === 'leaf' && child.isVisible)
                +leafScore(child, mainScoreName, payload)
            else
                +compositeScore(child, mainScoreName, compName, payload)